---
# Kubernetes Service for custom Nginx application
apiVersion: v1
kind: Service
metadata:
  name: custom-nginx
  namespace: default
  labels:
    app: custom-nginx
spec:
  type: NodePort
  selector:
    app: custom-nginx
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
